<section class="hero-wrapper">
  <div class="hero">
    <img class="bg-icon" alt="" src="assets/bg@2x.png" />
    <header class="hero-content">
      <div class="hero-slogan">
        <div class="slogan-highlight">
          <a class="shadepro">Brainwave.io</a>
          <div class="page-links">
            <b class="demos-pages-support">Demos Pages Support Contact</b>
          </div>
        </div>
      </div>
      <button-solid-style1> </button-solid-style1>
    </header>
    <div class="content">
      <div class="services-intro-wrapper">
        <div class="services-intro">
          <div class="shift-business-parent">
            <div class="shift-business">
              <b class="lets-shift-your">Let’s shift your business</b>
            </div>
            <h1 class="shift-your-business">
              Shift your business fast with Shade Pro.
            </h1>
            <div class="with-lots-of">
              With lots of unique blocks, you can easily build a page without
              coding. Build your next consultancy website within few minutes.
            </div>
          </div>
          <button-solid-style [propAlignSelf]="'unset'" [propWidth]="'220px'">
          </button-solid-style>
        </div>
      </div>
      <div class="image">
        <img
          class="fill-1-icon"
          loading="lazy"
          alt=""
          src="assets/fill-1.svg"
        />
        <div class="image-shape">
          <img class="oval-icon" alt="" src="assets/oval@2x.png" />
          <img
            class="round-icon"
            loading="lazy"
            alt=""
            src="assets/round@2x.png"
          />
          <img
            class="image-shape-child"
            loading="lazy"
            alt=""
            src="assets/group-3.svg"
          />
          <img
            class="fill-4-icon"
            loading="lazy"
            alt=""
            src="assets/fill-4.svg"
          />
        </div>
      </div>
    </div>
  </div>
</section>
