.with-lots-of1 {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  letter-spacing: -0.2px;
  line-height: 32px;
  display: inline-block;
  opacity: 0.65;
  mix-blend-mode: normal;
}
.ready-to-launch {
  margin: 0;
  width: 89.3%;
  top: calc(50% - 64px);
  left: 0;
  font-size: var(--font-size-13xl);
  letter-spacing: -1.2px;
  line-height: 44px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.cta-02,
.ready-to-launch,
.title {
  position: absolute;
}
.title {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 589px;
  overflow: hidden;
}
.cta-02 {
  top: 89px;
  left: 245px;
  width: 1110px;
  height: 128px;
  text-align: left;
  font-size: var(--font-size-lgi);
  color: var(--color-white);
  font-family: var(--font-gilroy);
}
@media screen and (max-width: 767px) {
  .ready-to-launch {
    font-size: var(--font-size-7xl);
    line-height: 35px;
  }
}
@media screen and (max-width: 450px) {
  .ready-to-launch {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
}
