<div class="cta-02" [ngStyle]="cTA02Style">
      <div class="title">
        <div class="with-lots-of1" [ngStyle]="withLotsOfStyle">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</div>
        <h2 class="ready-to-launch" [ngStyle]="readyToLaunchStyle">Ready to launch your next project?</h2>
      </div><button-solid-style1 [propHeight]=propHeight [propWidth]=propWidth [propTop]=propTop1 [propRight]=propRight [propBottom]=propBottom [propLeft]=propLeft1> </button-solid-style1>
    </div>