.graphic-designer,
.john-doe {
  position: relative;
  letter-spacing: -0.2px;
  line-height: 29px;
}
.graphic-designer {
  width: 120px;
  color: var(--color-gray-200);
  display: inline-block;
  flex-shrink: 0;
  mix-blend-mode: normal;
  z-index: 1;
  margin-left: -14.5px;
}
.extraname-style-01,
.group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.group {
  flex: 1;
  overflow: hidden;
}
.extraname-style-01 {
  width: 240px;
  padding: 0 var(--padding-9xs) 0 0;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-gray-100);
  font-family: var(--font-gilroy);
}
