<section class="about">
      <div class="title3">
        <b class="our-story">Our Story</b>
        <h1 class="we-know-how">We know how everything works and why your business is failing over and over again.</h1>
      </div>
      <img class="icon1" alt="" src="assets/2@2x.png" />
      <img class="icon2" loading="lazy" alt="" src="assets/3@2x.png" />
      <img class="icon3" loading="lazy" alt="" src="assets/1@2x.png" />
      <div class="we-share-common">We share common trends and strategies for improving your rental income and making sure you stay in high demand. With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</div>
      <img class="fill-1-icon" loading="lazy" alt="" src="assets/fill-1.svg" />
    </section>