<div class="footer">
  <footer class="footer1">
    <div class="bg9"></div>
    <div class="footer-content">
      <div class="social-shadepro">
        <h2 class="shadepro1">Brainwave.io</h2>
        <div class="footer-description">
          <div class="with-lots-of6">
            With lots of unique blocks, you can easily build a page without
            coding. Build your next landing page.
          </div>
          <div class="social">
            <div class="twitter-icon">
              <img
                class="logo-twitter-icon"
                loading="lazy"
                alt=""
                src="assets/logotwitter.svg"
              />
            </div>
            <img
              class="logo-facebook-icon"
              loading="lazy"
              alt=""
              src="assets/logofacebook.svg"
            />
            <img
              class="logo-instagram-icon"
              loading="lazy"
              alt=""
              src="assets/logoinstagram@2x.png"
            />
            <img
              class="logo-instagram-icon"
              loading="lazy"
              alt=""
              src="assets/logolinkedin@2x.png"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="footer-links">
      <div class="footer-links1">
        <a class="company">Company</a>
        <div class="about-us-contact-container">
          <p class="about-us">About us</p>
          <p class="about-us">Contact us</p>
          <p class="about-us">Careers</p>
          <p class="about-us">Press</p>
        </div>
      </div>
      <div class="product-features">
        <div class="product">Product</div>
        <div class="about-us-contact-container">
          <p class="about-us">Features</p>
          <p class="about-us">Pricing</p>
          <p class="about-us">News</p>
          <p class="about-us">Help desk</p>
          <p class="about-us">Support</p>
        </div>
      </div>
    </div>
    <div class="footer-links2">
      <a class="services">Services</a>
      <div class="about-us-contact-container">
        <p class="about-us">Digital Marketing</p>
        <p class="about-us">Content Writing</p>
        <p class="about-us">SEO for Business</p>
        <p class="about-us">UI Design</p>
      </div>
    </div>
    <div class="legal-terms">
      <div class="legal">Legal</div>
      <div class="about-us-contact-container">
        <p class="about-us">Privacy Policy</p>
        <p class="about-us">Terms & Conditions</p>
        <p class="about-us">Return Policy</p>
      </div>
    </div>
  </footer>
</div>
