.bg9 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: -2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-100);
}
.shadepro1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.16px;
  font-weight: 700;
  font-family: inherit;
}
.with-lots-of6 {
  position: relative;
  letter-spacing: -0.1px;
  line-height: 26px;
  mix-blend-mode: normal;
}
.logo-twitter-icon {
  width: 17px;
  height: 15px;
  position: relative;
}
.twitter-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
}
.logo-facebook-icon,
.logo-instagram-icon {
  height: 18px;
  width: 18px;
  position: relative;
}
.logo-instagram-icon {
  object-fit: cover;
}
.social {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-4xl-7);
}
.footer-description {
  align-self: stretch;
  gap: var(--gap-25xl);
  font-size: var(--font-size-mini);
  color: var(--color-gray-300);
  font-family: var(--font-gilroy);
}
.footer-content,
.footer-description,
.social-shadepro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.social-shadepro {
  width: 274px;
  overflow: hidden;
  gap: var(--gap-17xl);
  z-index: 1;
}
.footer-content {
  width: 325px;
  flex-shrink: 0;
  font-size: var(--font-size-9xl);
  color: var(--color-white);
  font-family: var(--font-rubik);
}
.company {
  text-decoration: none;
  position: relative;
  letter-spacing: -0.1px;
  line-height: 26px;
  color: inherit;
  display: inline-block;
  mix-blend-mode: normal;
  min-width: 69px;
}
.about-us {
  margin: 0;
}
.about-us-contact-container {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-mid);
  letter-spacing: -0.2px;
  line-height: 40px;
  color: var(--color-white);
}
.footer-links1 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  z-index: 1;
}
.product {
  position: relative;
  letter-spacing: -0.1px;
  line-height: 26px;
  display: inline-block;
  mix-blend-mode: normal;
  min-width: 55px;
}
.footer-links,
.product-features {
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.product-features {
  width: 125px;
  overflow: hidden;
  flex-direction: column;
  gap: var(--gap-xl);
  z-index: 1;
}
.footer-links {
  width: 316px;
  flex-direction: row;
  gap: var(--gap-28xl);
}
.services {
  text-decoration: none;
  position: relative;
  letter-spacing: -0.1px;
  line-height: 26px;
  color: inherit;
  display: inline-block;
  mix-blend-mode: normal;
  min-width: 57px;
}
.footer-links2 {
  width: 156px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  z-index: 1;
}
.legal {
  position: relative;
  letter-spacing: -0.1px;
  line-height: 26px;
  display: inline-block;
  mix-blend-mode: normal;
  min-width: 39px;
}
.footer,
.footer1,
.legal-terms {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.legal-terms {
  width: 161px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  gap: var(--gap-xl);
  z-index: 1;
}
.footer,
.footer1 {
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.footer1 {
  flex: 1;
  overflow-x: auto;
  padding: var(--padding-103xl) var(--padding-226xl) var(--padding-109xl);
  position: relative;
  gap: var(--gap-31xl);
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-gray-300);
  font-family: var(--font-gilroy);
}
.footer {
  align-self: stretch;
  padding: 0 var(--padding-11xs) 0 0;
  z-index: 1;
}
@media screen and (max-width: 800px) {
  .footer1 {
    padding: var(--padding-60xl) var(--padding-103xl) var(--padding-64xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .shadepro1 {
    font-size: var(--font-size-3xl);
  }
  .footer-description {
    gap: var(--gap-3xl);
  }
  .social-shadepro {
    gap: var(--gap-lg);
  }
  .footer-links {
    gap: var(--gap-4xl);
  }
  .footer1 {
    gap: var(--gap-6xl);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
