<section class="works">
      <div class="title1">
        <b class="case-studies">Case studies</b>
        <h1 class="our-works-describe">Our works describe why we are the best in the business</h1>
      </div>
      <div class="works-content">
        <img class="img-icon" loading="lazy" alt="" src="assets/img@2x.png" />
        <h3 class="aura-branding-design">Aura Branding Design</h3>
        <div class="graphic-design">Graphic Design</div>
      </div>
      <div class="copy-4">
        <img class="img-icon1" alt="" src="assets/img-1@2x.png" />
        <h3 class="abs-snack-packaging">AB.S Snack Packaging</h3>
        <div class="graphic-design1">Graphic Design</div>
      </div>
      <div class="copy-5">
        <img class="img-icon2" alt="" src="assets/img-2@2x.png" />
        <h3 class="gradient-website-dev">Gradient Website Development</h3>
        <div class="web-development">Web Development</div>
      </div>
      <div class="works-content">
        <img class="img-icon" alt="" src="assets/img-3@2x.png" />
        <h3 class="aura-branding-design">Magazine Content Writing</h3>
        <div class="content-writing1">Content Writing</div>
      </div><button-flat-style1>  </button-flat-style1>
    </section>