<div class="agency"><footer-1>  </footer-1>
      <section class="testimonial">
        <img class="bg-icon" alt="" src="assets/bg@2x.png" />
        <blockquote class="simply-the-best">“Simply the best. Better than all the rest. I’d recommend this product to beginners and advanced users.”</blockquote>
        <img class="oval-icon" loading="lazy" alt="" src="assets/oval@2x.png" />
        <b class="testimonial1">Testimonial</b>
        <div class="digital-marketer">Digital Marketer</div>
        <b class="ian-klein">Ian Klein</b>
      </section><works>  </works><features>  </features>
      <section class="facts">
        <div class="facts-content">
          <b class="m">1M+</b>
          <div class="customers-visit-omeg">Customers visit Omega every month to get their service done.</div>
        </div>
        <div class="copy-2">
          <b class="b">92%</b>
          <div class="customers-visit-omeg">Satisfaction rate comes from our awesome customers.</div>
        </div>
        <div class="copy-3">
          <b class="b1">4.9/5.0</b>
          <div class="customers-visit-omeg">Average customer ratings we have got all over internet.</div>
        </div>
      </section><about>  </about>
      <section class="testimonial2"><group-component>  </group-component>
        <img class="line-icon" loading="lazy" alt="" src="assets/line.svg" />
      </section><services>  </services><hero>  </hero>
      <header class="header">
        <b class="demos-pages-support">Demos            Pages            Support            Contact</b><button-solid-style>  </button-solid-style>
        <a class="shadepro">Brainwave.io</a>
      </header>
    </div>