.bg-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.simply-the-best {
  margin: 0;
  position: absolute;
  width: 40.94%;
  top: 29.13%;
  left: 29.56%;
  letter-spacing: -1.2px;
  line-height: 44px;
  font-weight: 700;
  display: inline-block;
}
.oval-icon {
  position: absolute;
  height: 11.97%;
  width: 4.75%;
  top: 56.69%;
  right: 47.56%;
  bottom: 31.34%;
  left: 47.69%;
  border-radius: 50%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.testimonial1 {
  width: 36.81%;
  top: 21.1%;
  left: 31.63%;
  font-size: var(--font-size-smi);
  letter-spacing: 1.63px;
  text-transform: uppercase;
  color: var(--color-lightgreen);
}
.digital-marketer,
.ian-klein,
.testimonial1 {
  position: absolute;
  display: inline-block;
}
.digital-marketer {
  top: calc(50% + 162.5px);
  left: 46.66%;
  font-size: var(--font-size-mini);
  letter-spacing: -0.1px;
  line-height: 26px;
  opacity: 0.65;
  mix-blend-mode: normal;
  min-width: 107px;
}
.ian-klein {
  top: calc(50% + 135.5px);
  left: 47.97%;
  font-size: var(--font-size-mid);
  letter-spacing: -0.2px;
  line-height: 29px;
  min-width: 67px;
}
.testimonial {
  position: absolute;
  top: 6304px;
  left: 0;
  width: 100%;
  height: 635px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-gilroy);
}
.customers-visit-omeg,
.m {
  position: absolute;
  display: inline-block;
}
.m {
  top: calc(50% - 70px);
  left: 38.85%;
  letter-spacing: -1.8px;
  line-height: 58px;
  min-width: 81px;
}
.customers-visit-omeg {
  width: 100%;
  top: 54.29%;
  left: 0;
  font-size: var(--font-size-lgi);
  letter-spacing: -0.2px;
  line-height: 32px;
  opacity: 0.7;
  mix-blend-mode: normal;
}
.facts-content {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 314px;
  overflow: hidden;
}
.b,
.copy-2,
.facts-content {
  position: absolute;
}
.b {
  top: calc(50% - 70px);
  left: 38.38%;
  letter-spacing: -1.8px;
  line-height: 58px;
  display: inline-block;
  min-width: 85px;
}
.copy-2 {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 380px;
  width: 314px;
  overflow: hidden;
}
.b1 {
  top: calc(50% - 70px);
  left: 28.34%;
  letter-spacing: -1.8px;
  line-height: 58px;
}
.b1,
.copy-3,
.facts {
  position: absolute;
}
.copy-3 {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 760px;
  width: 314px;
  overflow: hidden;
}
.facts {
  top: 3195px;
  left: 263px;
  width: 1074px;
  height: 140px;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-gray-100);
  font-family: var(--font-gilroy);
}
.line-icon,
.testimonial2 {
  position: absolute;
  top: 300px;
  left: 0;
  width: 1108px;
  height: 1px;
}
.testimonial2 {
  top: 1768px;
  left: 248px;
  height: 301px;
}
.demos-pages-support {
  position: absolute;
  top: calc(50% - 13px);
  left: 19.51%;
  letter-spacing: -0.1px;
  line-height: 26px;
  white-space: pre-wrap;
  flex-shrink: 0;
}
.shadepro {
  text-decoration: none;
  position: absolute;
  top: calc(50% - 15px);
  left: 2.52%;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.13px;
  font-weight: 700;
  font-family: var(--font-rubik);
  color: inherit;
  white-space: nowrap;
}
.header {
  position: absolute;
  top: 16px;
  left: 166px;
  width: 1189px;
  height: 50px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
  font-family: var(--font-gilroy);
}
.agency {
  width: 100%;
  height: 7713px;
  position: relative;
  background-color: #fdfdff;
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 767px) {
  .simply-the-best {
    font-size: var(--font-size-7xl);
    line-height: 35px;
  }
  .b,
  .b1,
  .m {
    font-size: var(--font-size-19xl);
    line-height: 46px;
  }
}
@media screen and (max-width: 450px) {
  .simply-the-best {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
  .b,
  .b1,
  .m {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }
}
