.bg {
  align-self: stretch;
  height: 774px;
  position: relative;
  background-color: var(--color-gray-100);
  display: none;
}
.agency,
.bg-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.bg-parent {
  align-self: stretch;
  height: 774px;
  background-color: var(--color-gray-100);
  align-items: flex-start;
  padding: 89px var(--padding-11xs) 478px;
  box-sizing: border-box;
  gap: 0.6px;
  max-width: 100%;
}
.agency {
  width: 100%;
  position: relative;
  background-color: #fdfdff;
  overflow: hidden;
  align-items: flex-end;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1350px) {
  .bg-parent {
    padding-top: var(--padding-39xl);
    padding-bottom: 311px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1125px) {
  .bg-parent {
    height: auto;
  }
}
@media screen and (max-width: 800px) {
  .bg-parent {
    padding-top: var(--padding-19xl);
    padding-bottom: 202px;
    box-sizing: border-box;
  }
}
