.rectangle {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-blue);
}
.button-name3 {
  flex: 1;
  position: relative;
  letter-spacing: -0.6px;
  line-height: 32px;
  z-index: 1;
}
.button-13,
.button-solid-style-01 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-13 {
  flex: 1;
  overflow: hidden;
  padding: var(--padding-smi) 0 var(--padding-sm);
  position: relative;
}
.button-solid-style-01 {
  align-self: stretch;
  z-index: 1;
  text-align: center;
  font-size: var(--font-size-mid);
  color: var(--color-white);
  font-family: var(--font-gilroy);
}
