.bg9,
.button-name3 {
  position: absolute;
  width: 100%;
  left: 0;
}
.bg9 {
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-blue);
}
.button-name3 {
  text-decoration: none;
  top: calc(50% - 12px);
  letter-spacing: -0.5px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  white-space: nowrap;
}
.button-13,
.buttonsolidstyle-06 {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.button-13 {
  width: 100%;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
}
.buttonsolidstyle-06 {
  width: 17.58%;
  left: 82.42%;
  text-align: center;
  font-size: var(--font-size-mid);
  color: var(--color-white);
  font-family: var(--font-gilroy);
}
