<section class="hero">
      <img class="bg-icon1" alt="" src="assets/bg-1@2x.png" />
      <div class="content"><button-solid-style1>  </button-solid-style1>
        <h1 class="shift-your-business">Shift your business fast with Shade Pro.</h1>
        <b class="lets-shift-your">Let’s shift your business</b>
        <div class="with-lots-of6">With lots of unique blocks, you can easily build a page without coding. Build your next consultancy website within few minutes.</div>
      </div>
      <div class="image">
        <img class="fill-1-icon1" alt="" src="assets/fill-1-1.svg" />
        <img class="oval-icon2" alt="" src="assets/oval-2@2x.png" />
        <img class="round-icon" loading="lazy" alt="" src="assets/round@2x.png" />
        <div class="waves">
          <img class="waves-child" loading="lazy" alt="" src="assets/group-3.svg" />
          <img class="fill-4-icon" loading="lazy" alt="" src="assets/fill-4.svg" />
        </div>
      </div>
    </section>