.bg-icon1,
.shift-your-business {
  position: absolute;
  width: 100%;
  left: 0;
}
.bg-icon1 {
  top: 0;
  height: 100%;
  object-fit: cover;
}
.shift-your-business {
  margin: 0;
  top: calc(50% - 152px);
  font-size: var(--font-size-41xl);
  letter-spacing: -2px;
  line-height: 65px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.lets-shift-your {
  position: absolute;
  top: calc(50% - 193px);
  left: 0.74%;
  font-size: var(--font-size-smi);
  letter-spacing: 1.63px;
  text-transform: uppercase;
  color: var(--color-tomato);
  white-space: nowrap;
}
.with-lots-of6 {
  position: absolute;
  width: 92.42%;
  top: 50.78%;
  left: 0;
  font-size: var(--font-size-lgi);
  letter-spacing: -0.2px;
  line-height: 32px;
  display: inline-block;
  opacity: 0.7;
  mix-blend-mode: normal;
  min-height: 96px;
}
.content {
  position: absolute;
  top: 219px;
  left: 244px;
  width: 541px;
  height: 386px;
  overflow: hidden;
}
.fill-1-icon1 {
  position: relative;
  width: 107px;
  height: 109px;
}
.oval-icon2 {
  position: absolute;
  top: 109px;
  left: 0;
  border-radius: 50%;
  width: 463px;
  height: 463px;
  object-fit: cover;
}
.round-icon {
  position: absolute;
  top: 361.8px;
  left: 2.3px;
  width: 127.7px;
  height: 111.3px;
  object-fit: contain;
}
.fill-4-icon,
.waves-child {
  position: absolute;
  top: 1.7px;
  left: 14.1px;
  width: 10.1px;
  height: 76.6px;
}
.fill-4-icon {
  top: 0;
  left: 0;
  width: 10px;
  height: 77px;
}
.hero,
.image,
.waves {
  position: absolute;
  top: 369px;
  left: 413px;
  width: 24.2px;
  height: 78.4px;
}
.hero,
.image {
  top: 161px;
  left: 892px;
  width: 463px;
  height: 572px;
}
.hero {
  top: 0;
  left: 0;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  width: 100%;
  height: 801px;
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-gray-100);
  font-family: var(--font-gilroy);
}
@media screen and (max-width: 767px) {
  .shift-your-business {
    font-size: var(--font-size-29xl);
    line-height: 52px;
  }
}
@media screen and (max-width: 450px) {
  .shift-your-business {
    font-size: var(--font-size-17xl);
    line-height: 39px;
  }
}
