<footer class="footer">
      <div class="footer1">
        <div class="bg" ></div>
        <div class="footer-links">
          <a class="company">Company</a>
          <div class="about-us-contact-container">
            <p class="about-us">About us</p>
            <p class="about-us">Contact us</p>
            <p class="about-us">Careers</p>
            <p class="about-us">Press</p>
          </div>
        </div>
        <div class="product-features">
          <div class="product">Product</div>
          <div class="features-pricing-new-container">
            <p class="about-us">Features</p>
            <p class="about-us">Pricing</p>
            <p class="about-us">News</p>
            <p class="about-us">Help desk</p>
            <p class="about-us">Support</p>
          </div>
        </div>
        <div class="footer-links1">
          <a class="services">Services</a>
          <div class="about-us-contact-container">
            <p class="about-us">Digital Marketing</p>
            <p class="about-us">Content Writing</p>
            <p class="about-us">SEO for Business</p>
            <p class="about-us">UI Design</p>
          </div>
        </div>
        <div class="legal-terms">
          <div class="legal">Legal</div>
          <div class="privacy-policy-terms-container">
            <p class="about-us">Privacy Policy</p>
            <p class="about-us">Terms & Conditions</p>
            <p class="about-us">Return Policy</p>
          </div>
        </div>
        <div class="social-shadepro">
          <div class="social">
            <img class="logo-twitter-icon" loading="lazy" alt="" src="assets/logotwitter.svg" />
            <img class="logo-facebook-icon" loading="lazy" alt="" src="assets/logofacebook.svg" />
            <img class="logo-instagram-icon" loading="lazy" alt="" src="assets/logoinstagram@2x.png" />
            <img class="logo-linkedin-icon" loading="lazy" alt="" src="assets/logolinkedin@2x.png" />
          </div>
          <div class="with-lots-of">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</div>
          <h2 class="shadepro1">Brainwave.io</h2>
        </div>
      </div>
    </footer>