.bg,
.company {
  position: absolute;
  left: 0;
}
.bg {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-gray-100);
}
.company {
  text-decoration: none;
  top: calc(50% - 103px);
  letter-spacing: -0.1px;
  line-height: 26px;
  color: inherit;
  display: inline-block;
  opacity: 0.65;
  mix-blend-mode: normal;
  min-width: 68px;
}
.about-us {
  margin: 0;
}
.about-us-contact-container {
  position: absolute;
  width: 100%;
  top: 22.33%;
  left: 0;
  font-size: var(--font-size-mid);
  letter-spacing: -0.2px;
  line-height: 40px;
  display: inline-block;
}
.footer-links {
  position: absolute;
  height: 41.53%;
  width: 9%;
  top: 24.6%;
  right: 52.25%;
  bottom: 33.87%;
  left: 38.75%;
  overflow: hidden;
}
.features-pricing-new-container,
.product {
  position: absolute;
  left: 0;
  display: inline-block;
}
.product {
  top: calc(50% - 123px);
  letter-spacing: -0.1px;
  line-height: 26px;
  opacity: 0.65;
  mix-blend-mode: normal;
  min-width: 54px;
}
.features-pricing-new-container {
  width: 100%;
  top: 18.7%;
  font-size: var(--font-size-mid);
  letter-spacing: -0.2px;
  line-height: 40px;
}
.product-features {
  position: absolute;
  height: 49.6%;
  width: 7.81%;
  top: 24.6%;
  right: 41.5%;
  bottom: 25.81%;
  left: 50.69%;
  overflow: hidden;
}
.services {
  text-decoration: none;
  position: absolute;
  top: calc(50% - 103px);
  left: 0;
  letter-spacing: -0.1px;
  line-height: 26px;
  color: inherit;
  display: inline-block;
  opacity: 0.65;
  mix-blend-mode: normal;
  min-width: 56px;
}
.footer-links1 {
  position: absolute;
  height: 41.53%;
  width: 9.75%;
  top: 24.6%;
  right: 28.5%;
  bottom: 33.87%;
  left: 61.75%;
  overflow: hidden;
}
.legal,
.privacy-policy-terms-container {
  position: absolute;
  left: 0;
  display: inline-block;
}
.legal {
  top: calc(50% - 83px);
  letter-spacing: -0.1px;
  line-height: 26px;
  opacity: 0.65;
  mix-blend-mode: normal;
  min-width: 38px;
}
.privacy-policy-terms-container {
  width: 100%;
  top: 27.71%;
  font-size: var(--font-size-mid);
  letter-spacing: -0.2px;
  line-height: 40px;
}
.legal-terms {
  position: absolute;
  height: 33.47%;
  width: 10.06%;
  top: 24.6%;
  right: 15.31%;
  bottom: 41.94%;
  left: 74.63%;
  overflow: hidden;
}
.logo-facebook-icon,
.logo-instagram-icon,
.logo-linkedin-icon,
.logo-twitter-icon {
  position: absolute;
  height: 83.33%;
  width: 11.97%;
  top: 11.11%;
  right: 88.03%;
  bottom: 5.56%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.logo-facebook-icon,
.logo-instagram-icon,
.logo-linkedin-icon {
  height: 100%;
  width: 12.68%;
  top: 0;
  right: 58.45%;
  bottom: 0;
  left: 28.87%;
}
.logo-instagram-icon,
.logo-linkedin-icon {
  right: 29.58%;
  left: 57.75%;
  object-fit: cover;
}
.logo-linkedin-icon {
  right: 0;
  left: 87.32%;
}
.social,
.with-lots-of {
  position: absolute;
  left: 0;
}
.social {
  height: 8.61%;
  width: 51.82%;
  top: 91.39%;
  right: 48.18%;
  bottom: 0;
}
.with-lots-of {
  width: 100%;
  top: 33.01%;
  letter-spacing: -0.1px;
  line-height: 26px;
  display: inline-block;
  opacity: 0.65;
  mix-blend-mode: normal;
}
.shadepro1 {
  margin: 0;
  position: absolute;
  top: calc(50% - 104.5px);
  left: 0;
  font-size: var(--font-size-9xl);
  letter-spacing: -0.16px;
  font-weight: 700;
  font-family: var(--font-rubik);
}
.social-shadepro {
  position: absolute;
  height: 42.14%;
  width: 17.13%;
  top: 24.6%;
  right: 67.56%;
  bottom: 33.27%;
  left: 15.31%;
  overflow: hidden;
}
.footer,
.footer1 {
  position: absolute;
  width: 100%;
}
.footer1 {
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.footer {
  top: 296.6px;
  left: 2px;
  height: 496px;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--font-gilroy);
}
@media screen and (max-width: 450px) {
  .shadepro1 {
    font-size: var(--font-size-3xl);
  }
}
