<section class="service-content-wrapper">
  <div class="service-content">
    <div class="service-header">
      <div class="title">
        <b class="our-services">Our services</b>
        <div class="we-provide-great-ser-wrapper">
          <h1 class="we-provide-great">
            We provide great services for our customers based on needs
          </h1>
        </div>
        <div class="services-decoration-wrapper">
          <img class="services-decoration-icon" alt="" />
        </div>
      </div>
    </div>
    <div class="service-cards">
      <div class="services-content">
        <div class="bg2">
          <div class="bg3"></div>
          <div class="designer">
            <img
              class="designer-rafiki-icon"
              loading="lazy"
              alt=""
              src="assets/designerrafiki@2x.png"
            />
          </div>
          <div class="design-description">
            <div class="graphic-design">
              <h3 class="graphic-design1">Graphic Design</h3>
            </div>
            <div class="with-lots-of1">
              With lots of unique blocks, you can easily build a page without
              coding. Build your next landing page.
            </div>
          </div>
          <div class="card-button">
            <button-flat-style1 [propFilter]="'unset'"> </button-flat-style1>
          </div>
        </div>
      </div>
      <div class="bg4">
        <div class="bg5"></div>
        <div class="programming-card">
          <img
            class="programming-rafiki-icon"
            loading="lazy"
            alt=""
            src="assets/programmingrafiki.svg"
          />
        </div>
        <div class="design-description">
          <div class="web-development">
            <h3 class="graphic-design1">Web Development</h3>
          </div>
          <div class="with-lots-of1">
            With lots of unique blocks, you can easily build a page without
            coding. Build your next landing page.
          </div>
        </div>
        <div class="notes-rafiki-wrapper">
          <button-flat-style1
            [propFilter]="'drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))'"
          >
          </button-flat-style1>
        </div>
      </div>
      <div class="frame-parent">
        <img
          class="frame-child"
          loading="lazy"
          alt=""
          src="assets/group-101@2x.png"
        />
        <div class="bg6">
          <div class="bg7"></div>
          <div class="notes-rafiki-wrapper">
            <img
              class="notes-rafiki-icon"
              loading="lazy"
              alt=""
              src="assets/notesrafiki@2x.png"
            />
          </div>
          <div class="design-description">
            <div class="content-writing">
              <h3 class="graphic-design1">Content Writing</h3>
            </div>
            <div class="unique-description">
              <div class="with-lots-of3">
                With lots of unique blocks, you can easily build a page without
                coding. Build your next landing page.
              </div>
            </div>
            <div class="card-button2">
              <button-flat-style1> </button-flat-style1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
