<section class="features1">
      <div class="bg2" ></div><cta [propTop]="'902px'" [propLeft]="'279px'" [propColor]="'#161c2d'" [propOpacity]="'0.7'" [propColor1]="'#161c2d'" [propHeight]="'59px'" [propWidth]="'220px'" [propTop1]="'35px'" [propRight]="'unset'" [propBottom]="'unset'" [propLeft1]="'890px'"> </cta><features-content [organizedTasks]="'Organized tasks'" [icon]="'assets/icon.svg'"> </features-content><features-content [propLeft]="'390px'" [propTop]="'351px'" [organizedTasks]="'Dedicated project manager'" [icon]="'assets/icon-1@2x.png'"> </features-content><features-content [propLeft]="'849px'" [propTop]="'565px'" [organizedTasks]="'Never miss deadline'" [icon]="'assets/icon-2@2x.png'"> </features-content><features-content [propLeft]="'390px'" [propTop]="'565px'" [organizedTasks]="'Easy feedback sharing'" [icon]="'assets/icon-3.svg'"> </features-content>
      <div class="title2">
        <b class="why-choose-us">Why choose us</b>
        <h1 class="people-choose-us">People choose us because we serve the best for everyone</h1>
      </div>
      <img class="features-child" loading="lazy" alt="" src="assets/line-2.svg" />
      <img class="features-item" loading="lazy" alt="" src="assets/group-161@2x.png" />
    </section>