<section class="case-studies-container-wrapper">
  <div class="case-studies-container">
    <div class="case-studies-title-container">
      <div class="case-studies-title">
        <b class="case-studies">Case studies</b>
        <div class="studies-description">
          <h1 class="our-works-describe">
            Our works describe why we are the best in the business
          </h1>
        </div>
      </div>
    </div>
    <div class="case-study-list">
      <div class="case-study-items">
        <img class="img-icon" loading="lazy" alt="" src="assets/img@2x.png" />
        <div class="case-study-details">
          <div class="case-study-content">
            <div class="case-study-type">
              <div class="graphic-design2">Graphic Design</div>
            </div>
            <h3 class="aura-branding-design">Aura Branding Design</h3>
          </div>
        </div>
        <img class="img-icon1" alt="" src="assets/img-1@2x.png" />
        <div class="case-study-details1">
          <div class="case-study-content1">
            <div class="case-study-type1">
              <div class="web-development2">Web Development</div>
            </div>
            <h3 class="aura-branding-design">Gradient Website Development</h3>
          </div>
        </div>
      </div>
      <div class="case-study-items1">
        <div class="case-study-image">
          <img class="img-icon2" alt="" src="assets/img-2@2x.png" />
        </div>
        <div class="case-study-details2">
          <div class="case-study-content">
            <div class="case-study-type">
              <div class="graphic-design2">Graphic Design</div>
            </div>
            <h3 class="aura-branding-design">AB.S Snack Packaging</h3>
          </div>
        </div>
        <img class="img-icon" alt="" src="assets/img-3@2x.png" />
        <div class="case-study-details3">
          <div class="case-study-content">
            <div class="case-study-type3">
              <div class="web-development2">Content Writing</div>
            </div>
            <h3 class="aura-branding-design">Magazine Content Writing</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="view-more-button-container">
      <button-flat-style> </button-flat-style>
    </div>
  </div>
</section>
