<section class="testimonial">
  <img class="bg-icon1" alt="" src="assets/bg-1@2x.png" />
  <div class="testimonial-content1">
    <div class="testimonial-title-container">
      <b class="testimonial1">Testimonial</b>
    </div>
    <blockquote class="simply-the-best">
      “Simply the best. Better than all the rest. I’d recommend this product to
      beginners and advanced users.”
    </blockquote>
  </div>
  <div class="testimonial-author">
    <div class="oval-profile">
      <div class="profile-image">
        <img class="oval-icon2" alt="" src="assets/oval-2@2x.png" />
      </div>
      <div class="profile-info">
        <div class="name-role">
          <b class="ian-klein">Ian Klein</b>
        </div>
        <div class="digital-marketer">Digital Marketer</div>
      </div>
    </div>
  </div>
</section>
