<section class="testimonial-content-wrapper">
  <div class="testimonial-content">
    <div class="quote-block-wrapper">
      <div class="quote-block">
        <div class="oval-wrapper">
          <img class="oval-icon1" alt="" src="assets/oval-1@2x.png" />
        </div>
        <div class="testimonial-quote">
          <div class="rating">
            <img
              class="star-icon"
              loading="lazy"
              alt=""
              src="assets/star.svg"
            />
            <img class="star-copy-icon" alt="" src="assets/star-copy.svg" />
            <img class="star-icon" alt="" src="assets/star.svg" />
            <img class="star-copy-icon" alt="" src="assets/star-copy.svg" />
            <img class="star-icon" alt="" src="assets/star.svg" />
          </div>
          <div class="omg-i-cannot-belie-parent">
            <h3 class="omg-i-cannot">
              “OMG! I cannot believe that I have got a brand new landing page
              after getting Albino. It was super easy to edit and publish.”
            </h3>
            <extra-name-style> </extra-name-style>
          </div>
        </div>
      </div>
    </div>
    <img class="line-icon" loading="lazy" alt="" src="assets/line.svg" />
    <div class="story-content-wrapper">
      <div class="story-content">
        <div class="title1">
          <b class="our-story">Our Story</b>
          <h1 class="we-know-how">
            We know how everything works and why your business is failing over
            and over again.
          </h1>
        </div>
        <div class="story-image-container">
          <img class="icon" loading="lazy" alt="" src="assets/1@2x.png" />
          <div class="story-content1">
            <div class="story-paragraph">
              <div class="story-highlight">
                <div class="highlight-content">
                  <img class="icon1" alt="" src="assets/2@2x.png" />
                  <img class="fill-1-icon1" alt="" src="assets/fill-1-1.svg" />
                </div>
                <div class="wrapper">
                  <img
                    class="icon2"
                    loading="lazy"
                    alt=""
                    src="assets/3@2x.png"
                  />
                </div>
              </div>
              <div class="we-share-common">
                We share common trends and strategies for improving your rental
                income and making sure you stay in high demand. With lots of
                unique blocks, you can easily build a page without coding. Build
                your next landing page.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="facts-wrapper">
      <div class="facts">
        <div class="facts-content">
          <div class="fact-data">
            <b class="m">1M+</b>
          </div>
          <div class="customers-visit-omeg">
            Customers visit Omega every month to get their service done.
          </div>
        </div>
        <div class="facts-content">
          <div class="container">
            <b class="m">92%</b>
          </div>
          <div class="customers-visit-omeg">
            Satisfaction rate comes from our awesome customers.
          </div>
        </div>
        <div class="facts-content">
          <div class="frame">
            <b class="b1">4.9/5.0</b>
          </div>
          <div class="customers-visit-omeg">
            Average customer ratings we have got all over internet.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
