.services-grid-icon {
  position: absolute;
  top: 672.2px;
  left: 991.9px;
  width: 170px;
  height: 79px;
  object-fit: contain;
}
.bg4 {
  border-radius: var(--br-3xs);
  background-color: var(--color-tomato);
}
.bg3,
.bg4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.content-writing2 {
  margin: 0;
  position: absolute;
  top: calc(50% - 7.5px);
  left: 25.43%;
  font-size: inherit;
  letter-spacing: -0.5px;
  line-height: 34px;
  font-weight: 700;
  font-family: inherit;
}
.with-lots-of3 {
  position: absolute;
  width: 84.57%;
  top: 58.59%;
  left: 7.43%;
  font-size: var(--font-size-mid);
  letter-spacing: -0.2px;
  line-height: 29px;
  display: inline-block;
  opacity: 0.65;
  mix-blend-mode: normal;
}
.notes-rafiki-icon {
  position: absolute;
  height: 29.46%;
  width: 32.74%;
  top: 10.21%;
  right: 33.74%;
  bottom: 60.33%;
  left: 33.51%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.services-content {
  position: absolute;
  top: 216px;
  left: 762px;
  width: 350px;
  height: 483px;
  overflow: hidden;
}
.bg6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 32px 54px rgba(22, 28, 45, 0.16);
  border-radius: var(--br-3xs);
  background-color: var(--color-blue);
}
.programming-rafiki-icon {
  position: absolute;
  height: 27.85%;
  width: 41.57%;
  top: 11.04%;
  right: 29.23%;
  bottom: 61.12%;
  left: 29.2%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.web-development1 {
  margin: 0;
  position: absolute;
  top: calc(50% - 7.5px);
  left: 21.43%;
  font-size: inherit;
  letter-spacing: -0.5px;
  line-height: 34px;
  font-weight: 700;
  font-family: inherit;
}
.services-content1 {
  position: absolute;
  top: 216px;
  left: 381px;
  width: 350px;
  height: 483px;
  overflow: hidden;
}
.bg8 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightgreen);
}
.graphic-design2 {
  margin: 0;
  position: absolute;
  top: calc(50% - 7.5px);
  left: 26.29%;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.5px;
  line-height: 34px;
  font-weight: 700;
  font-family: inherit;
}
.with-lots-of5 {
  position: absolute;
  width: 84.57%;
  top: 58.59%;
  left: 7.43%;
  letter-spacing: -0.2px;
  line-height: 29px;
  display: inline-block;
  opacity: 0.65;
  mix-blend-mode: normal;
}
.designer-rafiki-icon {
  position: absolute;
  height: 27.39%;
  width: 33.66%;
  top: 12.48%;
  right: 34.03%;
  bottom: 60.12%;
  left: 32.31%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.services-content2 {
  position: absolute;
  top: 216px;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 350px;
  height: 483px;
  overflow: hidden;
  font-size: var(--font-size-mid);
}
.our-services,
.we-provide-great {
  position: absolute;
  display: inline-block;
}
.our-services {
  top: 0;
  left: calc(50% - 294.5px);
  letter-spacing: 1.63px;
  text-transform: uppercase;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #f64b4b;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 589px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.we-provide-great {
  margin: 0;
  width: 88.46%;
  top: calc(50% - 28.5px);
  left: 5.77%;
  font-size: var(--font-size-17xl);
  letter-spacing: -1.2px;
  line-height: 48px;
  font-weight: 700;
  font-family: inherit;
}
.services-decoration-icon,
.title4 {
  position: absolute;
  top: 2908px;
  left: 267px;
  width: 100px;
  height: 100px;
}
.title4 {
  top: 0;
  left: 261px;
  width: 589px;
  height: 135px;
  overflow: hidden;
  font-size: var(--font-size-smi);
  color: var(--color-gray-100);
}
.services1 {
  position: absolute;
  top: 949px;
  left: 272px;
  width: 1161.9px;
  height: 751.2px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-gilroy);
}
@media screen and (max-width: 767px) {
  .we-provide-great {
    font-size: var(--font-size-10xl);
    line-height: 38px;
  }
}
@media screen and (max-width: 450px) {
  .content-writing2,
  .graphic-design2,
  .web-development1 {
    font-size: var(--font-size-lgi);
    line-height: 27px;
  }
  .we-provide-great {
    font-size: var(--font-size-3xl);
    line-height: 29px;
  }
}
