<section class="services1">
      <img class="services-grid-icon" loading="lazy" alt="" src="assets/group-101@2x.png" />
      <div class="services-content">
        <div class="bg3">
          <div class="bg4" ></div>
        </div><button-flat-style [propFilter]="'unset'"> </button-flat-style>
        <h3 class="content-writing2">Content Writing</h3>
        <div class="with-lots-of3">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</div>
        <img class="notes-rafiki-icon" loading="lazy" alt="" src="assets/notesrafiki@2x.png" />
      </div>
      <div class="services-content1">
        <div class="bg3">
          <div class="bg6" ></div>
        </div><button-flat-style [propFilter]="'drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))'"> </button-flat-style>
        <img class="programming-rafiki-icon" loading="lazy" alt="" src="assets/programmingrafiki.svg" />
        <h3 class="web-development1">Web Development</h3>
        <div class="with-lots-of3">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</div>
      </div>
      <div class="services-content2">
        <div class="bg3">
          <div class="bg8" ></div>
        </div><button-flat-style>  </button-flat-style>
        <h3 class="graphic-design2">Graphic Design</h3>
        <div class="with-lots-of5">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</div>
        <img class="designer-rafiki-icon" loading="lazy" alt="" src="assets/designerrafiki@2x.png" />
      </div>
      <div class="title4">
        <b class="our-services">Our services</b>
        <h1 class="we-provide-great">We provide great services for our customers based on needs</h1>
        <img class="services-decoration-icon" alt="" />
      </div>
    </section>