.button-name1 {
  text-decoration: none;
  position: relative;
  letter-spacing: -0.6px;
  line-height: 32px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 85px;
}
.tail-right-icon {
  width: 12px;
  height: 10.4px;
  position: relative;
}
.button-11,
.button-flat-style-04,
.tail-right-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.tail-right-wrapper {
  flex-direction: column;
  padding: var(--padding-2xs) 0 0;
}
.button-11,
.button-flat-style-04 {
  flex-direction: row;
}
.button-11 {
  overflow: hidden;
  gap: var(--gap-8xl);
}
.button-flat-style-04 {
  z-index: 2;
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-white);
  font-family: var(--font-gilroy);
}
