.button-name1 {
  text-decoration: none;
  position: absolute;
  top: calc(50% - 16px);
  left: 0;
  letter-spacing: -0.6px;
  line-height: 32px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 84px;
  white-space: nowrap;
}
.tail-right-icon1 {
  position: absolute;
  top: calc(50% - 5px);
  right: 0;
  width: 12px;
  height: 10.4px;
}
.button-11 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.button-flat-style-041 {
  position: absolute;
  height: 6.63%;
  width: 35.14%;
  top: 85.51%;
  right: 32.57%;
  bottom: 7.87%;
  left: 32.29%;
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-white);
  font-family: var(--font-gilroy);
}
