.button-name2 {
  position: relative;
  letter-spacing: -1.2px;
  line-height: 32px;
  display: inline-block;
  min-width: 114px;
}
.tail-right-icon1 {
  width: 13px;
  height: 11.3px;
  position: relative;
}
.view-more-button-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
}
.button-12,
.button-flat-style-041 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.button-12 {
  overflow: hidden;
  align-items: flex-start;
  gap: var(--gap-2xl);
}
.button-flat-style-041 {
  align-items: flex-end;
  padding: 0 var(--padding-11xs) var(--padding-12xs) 0;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--color-blue);
  font-family: var(--font-gilroy);
}
@media screen and (max-width: 450px) {
  .button-name2 {
    font-size: var(--font-size-mid);
    line-height: 26px;
  }
}
