<div class="extraname-style-01-parent"><extra-name-style>  </extra-name-style>
      <img class="oval-icon1" alt="" src="assets/oval-1@2x.png" />
      <h3 class="omg-i-cannot">“OMG! I cannot believe that I have got a brand new landing page after getting Albino. It was super easy to edit and publish.”</h3>
      <div class="stars">
        <img class="star-icon" loading="lazy" alt="" src="assets/star.svg" />
        <img class="star-copy-icon" alt="" src="assets/star-copy.svg" />
        <img class="star-copy-2" alt="" src="assets/star.svg" />
        <img class="star-copy-3" alt="" src="assets/star-copy.svg" />
        <img class="star-copy-4" alt="" src="assets/star.svg" />
      </div>
    </div>