.bg1 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-blue);
}
.button-name {
  text-decoration: none;
  flex: 1;
  position: relative;
  letter-spacing: -0.5px;
  font-weight: 700;
  color: inherit;
  z-index: 1;
}
.button-1,
.buttonsolidstyle-06 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-1 {
  flex: 1;
  overflow: hidden;
  padding: var(--padding-smi) 0 var(--padding-base);
  position: relative;
}
.buttonsolidstyle-06 {
  width: 209px;
  z-index: 2;
  text-align: center;
  font-size: var(--font-size-mid);
  color: var(--color-white);
  font-family: var(--font-gilroy);
}
@media screen and (max-width: 450px) {
  .button-name {
    display: none;
  }
}
