<section class="features-wrapper">
  <div class="features">
    <div class="features-content">
      <div class="bg8"></div>
      <div class="features-title-container">
        <div class="features-title">
          <b class="why-choose-us">Why choose us</b>
          <div class="choose-description">
            <h1 class="people-choose-us">
              People choose us because we serve the best for everyone
            </h1>
          </div>
        </div>
      </div>
      <div class="feature-list">
        <div class="feature-items">
          <div class="feature-rows">
            <feature-pair
              [icon]="'assets/icon@2x.png'"
              [dedicatedProjectMa]="'Dedicated project manager'"
            >
            </feature-pair
            ><feature-pair
              [icon]="'assets/icon-1.svg'"
              [dedicatedProjectMa]="'Organized tasks'"
              [propWidth]="'152px'"
            >
            </feature-pair>
          </div>
          <div class="feature-rows">
            <feature-pair
              [icon]="'assets/icon-2.svg'"
              [dedicatedProjectMa]="'Easy feedback sharing'"
              [propWidth]="'211px'"
            >
            </feature-pair
            ><feature-pair
              [icon]="'assets/icon-3@2x.png'"
              [dedicatedProjectMa]="'Never miss deadline'"
              [propWidth]="'188px'"
            >
            </feature-pair>
          </div>
        </div>
      </div>
      <div class="vector-parent">
        <img
          class="frame-item"
          loading="lazy"
          alt=""
          src="assets/line-2.svg"
        /><launch-content [propAlignSelf1]="'stretch'" [propWidth]="'unset'">
        </launch-content>
      </div>
    </div>
    <img
      class="features-child"
      loading="lazy"
      alt=""
      src="assets/group-161@2x.png"
    />
  </div>
</section>
