<div class="launch-content" [ngStyle]="launchContentStyle">
  <div class="ready-to-launch-your-parent">
    <h2 class="ready-to-launch" [ngStyle]="readyToLaunchStyle">
      Ready to launch your next project?
    </h2>
    <div class="with-lots-of5" [ngStyle]="withLotsOfStyle">
      With lots of unique blocks, you can easily build a page without coding.
      Build your next landing page.
    </div>
  </div>
  <div class="launch-button-container">
    <button-solid-style
      [propAlignSelf]="propAlignSelf1"
      [propWidth]="propWidth"
    >
    </button-solid-style>
  </div>
</div>
